APP_NAME=wedruj-z-nami
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=pl
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=pl_PL

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database
APP_PREVIOUS_KEYS=

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DAILY_DAYS=14
LOG_DEPRECATIONS_CHANNEL=null
LOG_DEPRECATIONS_TRACE=false
LOG_LEVEL=debug
# LOG_PAPERTRAIL_HANDLER=SyslogUdpHandler
# LOG_SLACK_USERNAME=Laravel Log
# LOG_SLACK_EMOJI=:boom:
# LOG_SLACK_WEBHOOK_URL=
# LOG_STDERR_FORMATTER=
# LOG_SYSLOG_FACILITY=LOG_USER

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
# SESSION_EXPIRE_ON_CLOSE=false
# SESSION_CONNECTION=
# SESSION_TABLE=sessions
# SESSION_STORE=
# SESSION_SECURE_COOKIE=false
# SESSION_HTTP_ONLY=true
# SESSION_SAME_SITE=lax
# SESSION_PARTITIONED_COOKIE=false

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
# QUEUE_FAILED_DRIVER=database-uuids

CACHE_STORE=database
# CACHE_PREFIX=
# CACHE_STORAGE_DISK=local
# CACHE_STORAGE_PATH=framework/cache/data
# DYNAMODB_CACHE_TABLE=cache
# DYNAMODB_ENDPOINT=
# DB_CACHE_CONNECTION=
# DB_CACHE_TABLE=cache
# DB_CACHE_LOCK_CONNECTION=
# DB_CACHE_LOCK_TABLE=cache_locks

MEMCACHED_HOST=127.0.0.1
# MEMCACHED_PORT=11211
# MEMCACHED_USERNAME=
# MEMCACHED_PASSWORD=
# MEMCACHED_PERSISTENT_ID=

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
# REDIS_CLUSTER=redis
# REDIS_PREFIX=
# REDIS_URL=
# REDIS_USERNAME=
# REDIS_DB=0
# REDIS_CACHE_DB=1
# REDIS_PERSISTENT=false
# REDIS_MAX_RETRIES=3
# REDIS_BACKOFF_ALGORITHM=decorrelated_jitter
# REDIS_BACKOFF_BASE=100
# REDIS_BACKOFF_CAP=1000
# REDIS_CACHE_CONNECTION=default
# REDIS_CACHE_LOCK_CONNECTION=default
# REDIS_QUEUE_CONNECTION=default
# REDIS_QUEUE=default
# REDIS_QUEUE_RETRY_AFTER=90

# BEANSTALKD_QUEUE_HOST=localhost
# BEANSTALKD_QUEUE=default
# BEANSTALKD_QUEUE_RETRY_AFTER=90

# SQS_PREFIX=https://sqs.us-east-1.amazonaws.com/your-account-id
# SQS_QUEUE=default
# SQS_SUFFIX=

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"
# MAIL_URL=
# MAIL_EHLO_DOMAIN=
# MAIL_SENDMAIL_PATH=/usr/sbin/sendmail -bs -i
# MAIL_LOG_CHANNEL=
# POSTMARK_API_KEY=
# POSTMARK_MESSAGE_STREAM_ID=
# RESEND_API_KEY=
# PAPERTRAIL_URL=
# PAPERTRAIL_PORT=
# SLACK_BOT_USER_OAUTH_TOKEN=
# SLACK_BOT_USER_DEFAULT_CHANNEL=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
# AWS_URL=
# AWS_ENDPOINT=

VITE_APP_NAME="${APP_NAME}"

# - - - DATABASE CONFIGURATION - - -
# MariaDB Configuration
MARIADB_VERSION=10.11
HOST_PORT=3306

# Database Credentials
DB_CONNECTION=mariadb
DB_ROOT_PASSWORD=root
DB_DATABASE=wedruj_z_nami
DB_USER=user
DB_PASSWORD=user
DB_ROOT_HOST=%
DB_HOST=mariadb
DB_PORT=3306
# DB_URL=
# DB_SOCKET=
# DB_CHARSET=utf8mb4
# DB_COLLATION=utf8mb4_unicode_ci
# DB_FOREIGN_KEYS=true
# DB_ATTR_SSL_CA=
# DB_SSLMODE=prefer
# DB_QUEUE_CONNECTION=
# DB_QUEUE_TABLE=jobs
# DB_QUEUE=default
# DB_QUEUE_RETRY_AFTER=90
# DB_ENCRYPT=

# Volume & Paths
# DB_DATA_DIR=/var/lib/mysql
# BACKUP_DIR=./backup
# VOLUME_NAME=mariadb_data_wedruj_z_nami

# Network
# NETWORK_NAME=mariadb_network_wedruj_z_nami

# Restart Policy
# RESTART_POLICY=unless-stopped

# Auth
# AUTH_GUARD=web
# AUTH_PASSWORD_BROKER=users
# AUTH_MODEL=App\Models\User
# AUTH_PASSWORD_RESET_TOKEN_TABLE=password_reset_tokens
# AUTH_PASSWORD_TIMEOUT=10800
